# node modules
node_modules

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log

# IDE files
.vscode
.idea
.cursor
.cursorrules
.cursorrules.md
.cursorrules.txt
.cursorrules.yml

# build files
.next

# package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
